<%= form_with(model: @user, data: { "turbo-frame" => "_top" }) do |form| %>
  <% if @user.errors.any? %>
    <div class="error-explanation" data-controller="error">
      <ul>
        <% @user.errors.uniq.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :username %>
  <%= form.text_field :username %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>

  <%= form.submit 'Create Account' %>
<% end %>
