<section class="pets-grid">
 
  <% if @pets.empty? %>
    <div class='no-pets'>
      <h1>Currently, there are no pets at this shelter.</h1>
      <%= image_tag('no_pets.png') %>
    </div>
  <% else %>
    <% @pets.each_with_index do |pet, index| %>
      <div class="pet" id="pet-<%= index %>">
        <div>
          <h1><%= pet.name %></h1>
          <% if pet.adoptable %>
            <%= image_tag('adoption_1.png') %>
          <% else %>
            <%= image_tag('certificate.png') %>
          <% end %>
        </div>
        <h2><em><%= pet.breed %></em></h2>
        <h2><em><%= pet.age %></em></h2>
      </div>
    <% end %>
  <% end %>

</section>
