<header>
  <%= link_to('/', class: 'logo') do %>
    <%= image_tag("dog.png", alt: "Logo") %>
    <p>Adopt Don't Shop</p>
  <% end %>
  <nav class="main-nav">
    <%= link_to("Shelters", "/shelters") %>
    <%= link_to("Pets", "/pets") %>
    <%= image_tag("user.png", alt: "User") %>
  </nav>
</header>
